<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <img src="./app/assets/images/pos.png" height="350" width="350" class="img-responsive center-block" />
        </div>
        <div class="row">
            <div class="text-center">Developed by:</div>
            <h4 class="text-center">Mahmoud Khattab</h4>
             <div class="text-center">2017</div>
        </div>
    </div>
</div>