<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

        <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-2'><strong>Name:</strong></div>
                    <div class='col-md-6'>{{product.productName}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-2'><strong>Code:</strong></div>
                    <div class='col-md-6'>{{product.productCode}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-2'><strong>Availability:</strong></div>
                    <div class='col-md-6'>{{product.releaseDate}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-2'><strong>Price:</strong></div>
                    <div class='col-md-6'>{{product.price|currency:'USD':true}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-2'><strong>Description:</strong></div>
                    <div class='col-md-6'>{{product.description}}</div>
                </div>
                <!-- <div class='row'>
                    <div class='col-md-2'><strong>5 Star Rating:</strong></div>
                    <div class='col-md-6'>
                        <pos-star [rating]='product.starRating'
                                (ratingClicked)='onRatingClicked($event)'>
                        </pos-star>
                    </div>
                </div> -->
            </div>

            <div class='col-md-6'>
                <img class='center-block img-responsive' 
                     [style.width.px]='200' 
                     [style.margin.px]='2' 
                     [src]='product.imageUrl'
                     [title]='product.productName'>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>    
</div>
